.center{
	text-align:center;
	margin:0 auto;
	padding-top:50px;
	
}
.font{
   box-sizing: border-box;
   font-family: 'Noto Sans KR', sans-serif;
}
	
#startBtn{
	font-size: 20px;
	background-color: #008CBA;
	color: white;
	text-align: center;
	border-radius: 10px;
	padding:20px 40px;
	font-family: 'Noto Sans KR', sans-serif;
}