@media (max-width: 890px) {
   .itTest{
		text-align:center;
		margin:5px auto;
		padding-top:5px;
		padding:5px;
		font-family: 'Sunflower', sans-serif;
	}
	.font{
		font-size:25px;
		color:#2f67a2;
		font-family: 'Do Hyeon', sans-serif;
	}
	.font1{
		font-size:15px;
	   box-sizing: border-box;
	   color:#3c3c40;
	}
	.img{
		width:100px;
	}	
	#startBtn{
		font-size: 15px;
		text-align: center;
		border-radius: 10px;
		padding:20px 40px;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight:bold;
	}
	#startBtn:hover{
		font-size: 15px;
		background-color: #008CBA;
		text-align: center;
		border-radius: 10px;
		padding:20px 40px;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight:bold;
		color:white;
	}
}

@media only screen and (min-width : 1224px) {
	.itTest{
		text-align:center;
		margin:20px auto;
		padding-top:50px;
		padding:20px;
		font-family: 'Sunflower', sans-serif;
	}
	.font{
		font-size:50px;
		color:#2f67a2;
		font-family: 'Do Hyeon', sans-serif;
	}
	.font1{
		font-size:30px;
	   box-sizing: border-box;
	   color:#3c3c40;
	}
	.img{
		width:200px;
	}	
	#startBtn{
		font-size: 20px;
		text-align: center;
		border-radius: 10px;
		padding:20px 40px;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight:bold;
	}
	#startBtn:hover{
		font-size: 20px;
		background-color: #008CBA;
		text-align: center;
		border-radius: 10px;
		padding:20px 40px;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight:bold;
		color:white;
	}
}