.form-signup-heading{
	margin: 31px 0px;
}
#join{
	font-family: 'Noto Sans KR', sans-serif;
}
th{
	font-family: 'Noto Sans KR', sans-serif;
}
#join-table{
	max-width:600px;
}
#mail-button{
	height:30px;
	width:50px;
	padding:0px;
	font-family: 'Noto Sans KR', sans-serif;
}
#check_code,#check_mail,#check_nickname{
	height: 30px;
    padding: 0px 14px;
    margin: 0px 7px;
}
#checkCODE{
	margin-top:10px;
}
#email2{
	height:30px;
	width:130px;
	display:inline-block;
    margin: 0px;
    padding: 0px 5px;
}