.form-signup-heading{
	margin-top:30px;
	font-family: 'Noto Sans KR', sans-serif;
}
#join{
	font-family: 'Noto Sans KR', sans-serif;
}
th{
	font-family: 'Noto Sans KR', sans-serif;
}
#join-table{
	max-width:600px;
}

@media (max-width: 500px) {
   #join-table th{
   	width:68px;
    padding: 5px 0px;
	}
}


#mail-button{
	height:30px;
	width:50px;
	padding:0px;
	font-family: 'Noto Sans KR', sans-serif;
}
#check_code,#check_mail,#check_nickname{
	height: 30px;
    padding: 0px 14px;
    margin: 0px 7px;
}
#checkCODE{
	margin-top:10px;
}
#email2{
	height:30px;
	width:130px;
	display:inline-block;
  margin: 0px;
  padding: 0px 5px;
}
#join-plus{
	font-size:15px;
	color:gray;
	font-family: 'Noto Sans KR', sans-serif;
	margin-top:10px;
	margin-bottom:20px;
}
#mphone1,#mphone2,#mphone3{
	width:80px;
}