/* 문제풀이 메인화면 : problem-main */
#problem-main-container{
	text-align:center;
}
#problem-main-header{
	font-family: 'Do Hyeon', sans-serif;
}

#problem-highlight{
	background:linear-gradient(to top, #f7ca3e 50%, transparent 50% )
}
#problem-main{
	padding:30px;
	margin:50px;
	display:inline-block;
	text-align:center;
	max-width:1200px;
}
.start-cont{
	/* font-family: 'Do Hyeon', sans-serif; */
	font-family: 'Jua', sans-serif;
	font-size:40px;
	/* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}
.createProblem{
	width:40%;
	padding:3% 5%;
	float:left;
	/* background:#f7ca3e; */
	border-radius:10px;
	margin:5px 5%;
	border:1px solid #adb5bd;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:500;
}
.solveProblem{
	width:40%;
	padding:3% 5%;
	float:left;
	border-radius:10px;
	/* background:#f7ca3e; */
	margin:5px 5%;
	border:1px solid #adb5bd;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:500;
}

@media (max-width: 900px) {
	.createProblem{
		width:100%;
	}
  .solveProblem{
		width:100%;
	}
}

#start-button1, #start-button2, #select-test-button, #create-problem-submit, #create-text-problem-submit,
#p-login1,#p-login2{
	font-weight:900;
	background:#1f3661;
  border-color: black;
  margin:0 auto;
  
}

/* 문제 출제하기 : problem-create */
#problem-create{
	padding:30px;
	width:90%;
	max-width:700px;
	margin:20px auto;
	font-family: 'Noto Sans KR', sans-serif;
	text-align:center;
}
#problem-header{
	background:linear-gradient(to top, #f7ca3e 30%, transparent 30% );
	font-weight:900;
	font-size:2rem;
	font-family: 'Do Hyeon', sans-serif;
}
textarea{
	resize:none;
}
.filebox label { 
	display: inline-block; 
	padding: .5em .75em; 
	color: white; 
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #408080; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
} 
.filebox input[type="file"] { 
	/* 파일 필드 숨기기 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0;
	float:right; 
}
.form-group{
	margin-bottom:40px;
}
.img_wrap{
	width:300px;
	margin-top:50px
}
.img_wrap img{
	max-width:100%;
}
#inputLarge{
	width:100px;
	display:inline-block;
}
#img_wrap{
	margin:0 auto;
}
.filebox{
	text-align: right;
}
.close-img{
	vertical-align: top;
  border-style: none;
  padding-top: 5px;
  cursor:pointer;
  position:absolute;
  right:5px;
  top:1px;
}

.correct-box{
	display:inline-block;
	position:relative;
	margin:0 10px 10px;
}
#plus-keyword{
	float:left;
}
#correct-boxes{
	clear:both;
	text-align:left;
}
#short-keyword{
	color:gray;
	text-align:left;
}

/* problem-solve */
#problem-solve{
	padding:50px 80px;
	width:400px;
	margin:50px auto;
	text-align:center;
}

/*문제풀기*/
#problem-solve{
	padding:30px;
	width:90%;
	max-width:700px;
	margin:20px auto;
	font-family: 'Noto Sans KR', sans-serif;
	text-align:center;
}	
#problem-proc{
	padding:30px;
	width:90%;
	max-width:700px;
	border:1px solid gray;
	border-radius:10px;
	margin:0 auto;
	margin-top:80px;
	font-family: 'Noto Sans KR', sans-serif;
}
.problemScore{
	width:90%;
	max-width:700px;
	border-radius:10px;
	margin:20px auto;
	font-family: 'Noto Sans KR', sans-serif;
}
#solve-process{
	width: 100%;
	height: 50px;
	clear:both;
}
.processing{
	float:right;
	font-family: 'Do Hyeon', sans-serif;
	font-size:1.5rem;
}
.problem-nick{
	float:left;
	display:inline-block;
}
.problem-percent{
	float:right;
	display:inline-block;
}
#problem-question{
	font-size:1.3rem;
	clear:both;
}
#problem-info{
	width:100%;
	color:gray;
	float:right;
}
#processing-bar{
	clear:both;
}
#problemScore-left{
	float:left;
	width:20%;
	text-align:center;
}
#problemScore-right{
	float:left;
	width:70%;
	margin-bottom:80px;
}
#next-problem-submit{
	float:right;
}
#nextProblem{
	height:30px;
}
#problem-pno{
	font-size:1.7rem;
	font-family: 'Black Han Sans', sans-serif;
	display:inline-block;
	color:#0062cc;
}
#problem-ask, #problem-board{
	color:#808080;
	padding-left:5px;
}
#problem-like{
	float:right;
}

/*문제 추가기능*/
#problem-sub{
	width:100%;
}
#problem-sub-left{
	width:10%;
	text-align:left;
	display:inline-block;
}
#problem-sub-center{
	width:75%;
	display:flex;
	text-align:center;
	display:inline-block;
}
#problem-sub-right{
	width:10%;
	text-align:right;
	display:inline-block;
}
.sub-a{
	width:150px;
	border:2px solid #dee2e6;
	border-radius:5px;
	padding:5px 20px 10px 8px;
	text-align:center;
	display:inline-block;
}
.problemList{
	width:80%;
	margin:20px auto;
	
}

/*특정 문제 리스트*/
#selectKind{
	width:250px;
}
.ptype-search{
	float:left;
	margin:10px;
}
.pcontent-search{
	float:right;
	position:relative;
}
#problemContentSearch{
	display: flex;
}
.pcontent-search img{
	position:absolute;
  right: 9px;
  top: 10px;
}
#selectSearch{
  width: 80px;
  margin-right:5px;
}
#essayText{
	
}