
#problem-main-container{
	text-align:center;
}
#problem-main{
	padding:30px;
	margin:50px;
	font-family: 'Noto Sans KR', sans-serif;
	display:inline-block;
	background:#e9ecef;
	text-align:center;
	max-width:1200px;
}
.createProblem{
	width:50%;
	padding:3% 5%;
	float:left;
}
.solveProblem{
	width:50%;
	padding:3% 5%;
	float:left;
}
.start-cont{
	font-size:30px;
}