.qa-heading{
	margin-top:30px;
	margin-bottom:30px;
	font-family: 'Noto Sans KR', sans-serif;
}
#qa-container{
	margin-top:50px;
}
#qa-table{
	width:100%;
	font-size:15px;
	margin-top:10px;
}
.question-container{
	display:block;
	
}
#question-text{
	display:inline-block;
	width:100%;
}
#qa-select{
	width:120px;
	float:left;
	margin-bottom:5px;
}
#q-user-id{
	width:10%
}
#questionTextarea{
 	resize: none; 
 	height:100px;
}
#question{
	font-size:15px;
	padding:0px;
}
#answerYET{
	border:1px solid gray;
	border-radius:5px;
	padding:5px;
	color:gray;
	text-align:center;
}
#answerOK{
	border:1px solid #ea5859;
	border-radius:5px;
	padding:5px;
	color:#ea5859;
	text-align:center;
}
#admin-answer{
	font-size:15px;
}
#q-nowpage{
	background:blue;
}
#q-button{
	float:right;
}
#q-login{
	float:right;
}
#q-paging{
	width:150px;
	margin:0 auto;
}
