.survey{
	margin-top:50px;
	text-align:center;
	font-family: 'Noto Sans KR', sans-serif;
}
.sNumber{
	font-family: 'Black Han Sans', sans-serif;
}
.survey h4{
}
.survey-answer{
	display:flex;
	width:80%;
	height:300px;
	margin:0 auto;
}

.survey-answer a{
	width:50%
}

.survey1{
	width: 80%;
  margin: 5%;
  float: left;
  padding: 20px;
  background: rgb(247, 247, 247);
  border-radius: 10px;
  font-weight:bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.survey1:hover{
	width: 80%;
  margin: 5%;
  float: left;
  padding: 20px;
  background: #3282b8;
  border-radius: 10px;
  color: white;
  font-weight:bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.survey2{
	width: 80%;
  margin: 5%;
  float: left;
  padding: 20px;
  background: rgb(247, 247, 247);
  border-radius: 10px;
  font-weight:bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.survey2:hover{
	width: 80%;
  margin: 5%;
  float: left;
  padding: 20px;
  background: #3282b8;
  border-radius: 10px;
  color: white;
  font-weight:bold;
  font-family: 'Noto Sans KR', sans-serif;

}
.btn-back{
	font-size: 20px;
	margin: 5%;
	text-align: center;
	border-radius: 10px;
	padding:20px 40px;
	font-family: 'Noto Sans KR', sans-serif;



}