.survey{
	margin-top:50px;
	text-align:center;
	font-family: 'Noto Sans KR', sans-serif;
}

.survey-answer{
	display:flex;
	width:80%;
	height:300px;
	margin:0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}

.survey1{
	width: 500px;
  margin: 5%;
  float: left;
  padding: 20px;
  background: #3282b8;
  border-radius: 10px;
  color: white;
  font-weight:bold;
  font-family: 'Noto Sans KR', sans-serif;
}
.survey2{
	width: 500px;
  margin: 5%;
  float: left;
  padding: 20px;
  background: #3282b8;
  border-radius: 10px;
  color: white;
  font-weight:bold;
  font-family: 'Noto Sans KR', sans-serif;
}